.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 auto;
}

.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.line-bottom{
    border-bottom: 1px solid #d9d9d9;
}

.card {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background-color: #fff;
}

.btn-page-container {
    width: 220px;
    display: grid;
    grid-gap: 20px;
}

.btn {
    border-radius: 4px;
    height: 42px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-blue {
    background-color: #3483fa;
    color: #fff;
}

.btn-white {
    background-color: #fff;
    color: #3483fa;
    border: 1px solid #3483fa;
}