.container {
    display: flex;
}

.nav {
    border-right: solid 1px;
    padding: 1rem;
}

.nav-link {
    color: blue;
    font-weight: normal;
}

.active-link {
    color: red;
    font-weight: bold;
}

.dblock {
    display: block;
    margin: 1rem 0;
}