#car-catalog-section {
    padding: 40px 0;
}

.car-search-bar-container {
    margin-bottom: 40px;
}

.car-catalog-cards-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(258px, 1fr));
}

.car-catalog-main {
    padding: 0 10px;
}

@media (min-width: 576px) {
    .car-catalog-main {
        padding: 0 20px;
    }
}